*.pyc
*.swp
*.orig
.idea
error.log*
scripts/
build/
/kikinvideo
.DS_Store
kikin_video_env
celerybeat-schedule.db
celerybeat-schedule
plugin/Chrome/manifest.json
Thumbs.db
plugin/Builds/
*.iml
bin-debug/
/src/
