{% extends "analytics_base.html" %}

{% block script_refs %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="/static/js/jquery-1.6.1.js"></script>
  <script>
    google.load('visualization', '1', {packages:['corechart']});
    google.setOnLoadCallback(drawCharts);
    function drawCharts() {
      $.ajax({
        url: '/analytics/views',
        dataType: 'jsonp',
        success: function(jsonData) {
          var data = new google.visualization.DataTable(jsonData);
          var comboChart = new google.visualization.ComboChart(document.getElementById('views_chart_div'));
          comboChart.draw(data, {
           title : 'Videos Watched',
            vAxes: [{title: "Views", minValue: 1}, {title: "Total Views", minValue: 1}],
            hAxis: {title: "Date"},
            seriesType: "bars",
            series: {0: {type: "line", targetAxisIndex: 1}},
            legend: 'bottom'
          });
        }
      });
      $.ajax({
        url: '/analytics/saves',
        dataType: 'jsonp',
        success: function(jsonData) {
          var data = new google.visualization.DataTable(jsonData);
          var comboChart = new google.visualization.ComboChart(document.getElementById('saves_chart_div'));
          comboChart.draw(data, {
           title : 'Videos Saved',
            vAxes: [{title: "Saves", minValue: 1}, {title: "Total Saves", minValue: 1}],
            hAxis: {title: "Date"},
            seriesType: "bars",
            series: {0: {type: "line", targetAxisIndex: 1}},
            legend: 'bottom'
          });
        }
      });
    }
  </script>
{% endblock script_refs %}

{% block content %}
    <div id="views_chart_div" style="width: 900px; height: 500px;"></div>
    <div id="saves_chart_div" style="width: 900px; height: 500px;"></div>
{% endblock content %}