<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Watchlr Analytics</title>

    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta name="Charset" content="UTF-8"/>
    <meta name="title" content="Watchlr Analytics"/>

    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/global.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/static/css/analytics.css"/>
    {% block style_refs %}{% endblock style_refs %}

    <!-- Scripts -->
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" media="all"/>
    {% block script_refs %}{% endblock script_refs %}

</head>
<body>
<div id="header">
    <a href="/" title="Watchlr"><h1 id="header-logo"></h1></a>
</div>

<!-- #header -->
<div id="wrapper">
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
</div>

<div class="greyed-background"></div>

</body>
</html>
