.activity-queue-item {
    width:100%;
    min-height:260px;
    border-bottom: 1px solid #cccccc;
    margin-bottom:14px;
}

.activity-queue-item.inner{
    margin:10px;
}

.activity-queue-item .video-image{
    margin-left:85px;
    margin-top:86px;
}

.fb-thumb-wrapper{
    position:absolute;
    margin-left:15px;
}

.activity-item-header{
    position: absolute;
    width:400px;
    margin-left: 80px;
    margin-top:18px;
    font-size:16px;
}

.activity-item-video-title{
    position:absolute;
    color: #43B6E6;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    padding-bottom: 5px;
    width: 450px;
    margin-left: 80px;
    margin-top:45px;
}

.activity-queue-video-description{
    position:absolute;
    width:280px;
    height:120px;
    margin-left: 310px;
    margin-top:88px;
}

.video-source-info{
    padding-top:10px;
    bottom:0px;
}