.activity-queue-item {
    width:100%;
    height:210px;
    border-bottom: 1px solid #cccccc;
    margin-left:auto;
    margin-right: auto;
}



.activity-queue.inner{
    margin-left:10px;
    margin-right:10px;
    min-height:190px;
    margin-top: 5px;
}

.activity-queue-item .video-image{
    margin-left:34px;
    margin-top:0px;
}
.fb-thumb-wrapper{
    float:left;
}

.activity-item-header{
    position: absolute;
    width:400px;
    margin-left: 80px;
    font-size:16px;
}

.activity-queue-item .video-title{
    position:absolute;
    color: #43B6E6;
    font-size: 20px;
    padding-bottom: 5px;
    width: 450px;
    margin-left: 80px;
    margin-top:27px;
}

.activity-queue-video-description{
    position:absolute;
    width:360px;
    height:110px;
    margin-left: 264px;
    margin-top:70px;
}

.video-source-info{
    position:absolute;
    margin-top:0px;
    margin-left: 0px;
    bottom:0px;
}

.video-thumb-link{
    position:absolute;
    left:110px;
}

.activity-queue-item .video-thumb-wrapper{
    margin-top:70px;
}

.activity-queue-item .video-buttons{
    margin-left:633px;
}