.activity-queue-item {
    width:730px;
    height:160px;
    margin-left:auto;
    margin-right: auto;
}

.activity-queue.inner{
    min-height:140px;
    margin-top: 5px;
}

.video-buttons{
    margin-left: 635px;
}

.activity-queue-item .video-image{
    margin-left:34px;
    margin-top:0px;
}
.fb-thumb-wrapper{
    float:left;
}

.activity-item-header{
    position: absolute;
    width:400px;
    margin-left: 80px;
    font-size:16px;
}

.activity-queue-item .video-title{
    position:absolute;
    color: #43B6E6;
    font-size: 17px;
    padding-bottom: 5px;
    width: 450px;
    margin-left: 245px;
    margin-top:27px;
}

.activity-queue-video-description{
    position:absolute;
    width:435px;
    height:80px;
    margin-left: 251px;
    margin-top:60px;
    font-size: 13px;
}

.video-source-info{
    position:absolute;
    bottom:0px;
}

.video-thumb-link{
    position:absolute;
    left:110px;
}

.activity-queue-item .video-thumb-wrapper{
    margin-top:30px;
    margin-left:0px;
}

.activity-queue-item .video-buttons{
    margin-left:633px;
}

.activity-queue-item .facebook-inlay{
    position: relative;
    bottom: 0px;
    right: 20px;
}