.activity-queue-item {
    width:100%;
    min-height:248px;
    border-bottom: 1px solid #cccccc;
    padding-top:20px;
    padding-bottom:10px;
}

.activity-queue.inner{
    margin:10px;
    height:200px;
}

.activity-queue-item .video-image{
    margin-left:81px;
    margin-top:68px;
}

.fb-thumb-wrapper{
    position:absolute;
    margin-left:15px;
}

.activity-item-header{
    position: absolute;
    width:400px;
    margin-left: 80px;
    font-size:16px;
}

.activity-item-video-title{
    position:absolute;
    color: #43B6E6;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    padding-bottom: 5px;
    width: 450px;
    margin-left: 80px;
    margin-top:27px;
}

.activity-queue-video-description{
    position:absolute;
    width:280px;
    height:120px;
    margin-left: 304px;
    margin-top:70px;
}

.video-source-info{
    padding-top:10px;
    bottom:0px;
}