.right-panel{
    float:right;
    width:230px;
}

.suggested-followees{
    background-color: #ffffff;
    text-align: left;
    padding-left: 6px;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
}

.suggested-followees .fb-thumb-wrapper{
    float:left;
}

.suggested-followees .inner{
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

.suggested-followees.container{
    width:230px;
}

.suggested-followees .title
{
    font-size: 16px;
    font-weight:700;
    margin-bottom:6px;
    color:#888888;
}

.suggested-followee-item{
    width:200px;
    border-top: 1px solid #cdcdcd;
    height:50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.suggested-followee-item a:hover{
    text-decoration: none;
}

.suggested-followees .profile-link-container{
    float:left;
    width:130px;
    font-size: 14px;
    margin-left: 6px;
    font-weight: 900;
}


.suggested-followees .follow-link{
    float:left;
    margin-left:6px;
    font-size:11px;
}

.suggested-followee-item .follow-button{
    position:absolute;
    width: 70px;
    margin-top:8px;
    margin-left: 135px;
    height:22px;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    color:#ffffff;
    background-color:#0c536f;
    font-family: Arial;
    font-size:13px;
    font-weight: 800;
    text-align:center;
    padding-top:7px;
}

.follow-button:hover{
    text-decoration: none;
    background-color: #4ab7e3;
}