.right-panel{
    position:absolute;
    width:280px;
    margin-left:720px;
    margin-top:14px;
}

.suggested-followees{
    font-family: Arial;
    background-color: #ffffff;
    text-align: left;
}

.suggested-followees.title
{
    font-size: 18px;
    border-bottom: 1px solid #000000;
}

.suggested-followee-item{
    width:280px;
    border-bottom: 1px solid #000000;
    height:50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.suggested-followees.profile-link-container{
    position:absolute;
    width:160px;
    font-size: 15px;
    margin-left: 60px;
    margin-top:14px;
}


.follow-button{
    position:absolute;
    width: 70px;
    margin-top:8px;
    margin-left: 210px;
    height:22px;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    color:#ffffff;
    background-color:#0c536f;
    font-family: Arial;
    font-size:13px;
    font-weight: 800;
    text-align:center;
    padding-top:7px;
}

.follow-button:hover{
    text-decoration: none;
    background-color: #4ab7e3;
}