#videoListWrapper{
    padding-top:20px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    z-index:0;
    margin-bottom:200px;
    margin-left: auto;
    margin-right: auto;
}

#user-info-container{
	width:760px;
    margin-top: 20px;
	height:130px;
    background-image: url(/static/images/profile/profile_banner_background.png);
    color:#0c536f;
    margin-left: auto;
    margin-right: auto;
    border-left: 3px solid #b4b4b4;
    border-bottom: 3px solid #b4b4b4;
}

.user-info.gradient{
    position:absolute;
    width:760px;
    height:130px;
    background: -moz-linear-gradient(top,  #f6f6f6,  #ffffff);
    background: -webkit-gradient(linear, center top, center bottom, from(#f6f6f6), to(#ffffff));
    opacity:.9;
}

#user-info-container .inner
{
	padding-top:15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

#facebook-img-container
{
    position:absolute;
	width:100px;
	height:100px;
    overflow: hidden;
    margin-left:5px;
}


#username-display
{
	position:absolute;
	margin-left:140px;
    margin-top:5px;
    font-family: Arial;
    font-size:18px;
    text-align: left;
}

#username-display .primary
{

}

#username-display .sub
{
	margin-top:5px;
	font-family:Georgia, serif;
	font-style:italic;
    font-size:14px;
}

.profile-basic-statistics
{
	position:absolute;
	font-family: Helvetica;
	font-size:18px;
	color: #000000;
    height:63px;
    width:90px;
    text-align: center;
    padding-top:15px;
    top:0px;
}

.profile-basic-statistics.with-breakers{
    width:110px;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.profile-basic-statistics-sub
{
    margin-top:5px;
	font-size:13px;
	color: #000000;
}

#profile-stats-container
{
	position:absolute;
	top:45px;
	left:100px;
}

.profile-vertical-separator
{
	position:absolute;
	height:30px;
	width:1px;
	top:0px;
	background-color:#e6e6e6;
}

.follow-button
{
	position:absolute;
	text-align:center;
	padding-top:7px;
    padding-bottom: 5px;
	width:100px;
	font-family:Helvetica;
	font-size:14px;
	font-weight:900;
	color:#FFFFFF;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
    border-radius: 8px;
	top:60px;
	left:0px;
    background-color: #0c536f;
}

.follow-button:hover{
    background-color: #4ab7e3;
}


#recent-activity-titlebar{
    width:700px;
    text-align: left;
    font-size:20px;
    font-family:Helvetica;
    margin-bottom:15px;
    margin-left: auto;
    margin-right: auto;
    font-weight:800;
    color:#0c536f;
}

.stats-breaker{
    position:absolute;
    width:1px;
    height:60px;
    background-color: #cccccc;
}

#left-fold{
    position: absolute;
    top:132px;
    left:0px;
    z-index:1;
}

#right-fold{
    position: absolute;
    top:125px;
    right:2px;
    z-index:1;
}

.video-container{
    margin-bottom: 30px;
}
