#user-info-container
{
	width:100%;
	height:110px;
	border:2px solid #e6e6e6;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    margin-bottom:40px;
}

#user-info-container .inner
{
	margin:15px;
}

#delta-img
{
	position:absolute;
	height:110px;
	width:205px;
	margin-left:580px;
	margin-top:-15px;
}

#profile-image-container
{
    position:absolute;
	width:80px;
	height:80px;
}

#username-display
{
	position:absolute;
	margin-left:80px;
    margin-top:20px;
}

#username-display .primary
{
	font-family:Helvetica;
	font-weight:900;
}

#username-display .sub
{
	margin-top:2px;
	font-family:Georgia, serif;
	font-style:italic;
	font-weight:600;
	color: #999999;
}

.profile-basic-statistics
{
	position:absolute;
	font-family: Helvetica;
	font-size:16px;
	color: #999999;
	width:40px;
	top:0px;
}
.profile-basic-statistics .sub
{
	font-size:10px;
	color: #999999;
}

#profile-stats-container
{
	position:absolute;
	top:45px;
	left:100px;
}

.profile-vertical-separator
{
	position:absolute;
	height:30px;
	width:1px;
	top:0px;
	background-color:#e6e6e6;
}

#follow-button
{
	position:absolute;
	text-align:center;
	padding-top:7px;
	width:80px;
	height:20px;
	border:1px solid #e6e6e6;
	font-family:Helvetica;
	font-size:14px;
	font-weight:900;
	color:#999999;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	top:0px;
	left:375px;
    background-image:url(/static/images/profile/follow_button_background.png);
}


