#user-info-container
{
	width:100%;
	height:140px;
    background-color: #E5EFF3;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius: 10px;
    margin-bottom:25px;
    color:#0c536f;
}

#user-info-container .inner
{
	padding:20px;
}

#facebook-img
{
    position:absolute;
	width:100px;
	height:100px;
    overflow: hidden;
    margin-left:5px;
}

#username-display
{
	position:absolute;
	margin-left:140px;
    margin-top:24px;
    font-family: Arial;
    font-size:18px;
}

#username-display .primary
{

}

#username-display .sub
{
	margin-top:5px;
	font-family:Georgia, serif;
	font-style:italic;
    font-size:14px;
}

.profile-basic-statistics
{
	position:absolute;
	font-family: Helvetica;
	font-size:18px;
	color: #000000;
    background-color:#d5d7d8;
    height:63px;
    width:95px;
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
    border-radius: 8px;
    text-align: center;
    padding-top:15px;
    top:-15px;
}
.profile-basic-statistics-sub
{
    margin-top:5px;
	font-size:13px;
	color: #000000;
}

#profile-stats-container
{
	position:absolute;
	top:45px;
	left:100px;
}

.profile-vertical-separator
{
	position:absolute;
	height:30px;
	width:1px;
	top:0px;
	background-color:#e6e6e6;
}

.follow-button
{
	position:absolute;
	text-align:center;
	padding-top:7px;
	width:110px;
	font-family:Helvetica;
	font-size:16px;
	font-weight:900;
	color:#FFFFFF;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	top:4px;
	left:496px;
    background-color: #0c536f;
    padding-top:10px;
    padding-bottom: 10px;
}

.follow-button:hover{
    background-color: #4ab7e3;
}


#recent-activity-titlebar{
    font-size:20px;
    font-family:Helvetica;
    margin-bottom:15px;
    margin-left: 5px;
    font-weight:800;
    color:#0c536f;
}
