#user-list .user-info.wrapper{
    height:70px;
    border-bottom: 1px solid #cccccc;
}

#user-list .user-info.wrapper:hover{
    background-color: #FAFCFC;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GcgArAA8R+qKmQEYmZiFTISoxAgwAAmGgIXxUDz0gAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    background-position: top;
}

.user-info.no-users{
    height:40px;
}

#user-list .inner{
    font-size: 18px;
    text-align: center;
    margin-top:15px;
}

#user-list .fb-thumb-square{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

#user-list .username{
    float: left;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 25px;
}

.user-list-follow-button{
    float:right;
    margin-top: 20px;
    width: 90px;
    margin-right: 20px;
    height:22px;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    color:#ffffff;
    background-color:#0c536f;
    font-size:13px;
    font-weight: 800;
    text-align:center;
    padding-top:7px;
    text-decoration: none;
}

.user-list-follow-button:hover{
    text-decoration: none;
    background-color: #4AB7E3;
}

.page-button-container{
    width:100%;
    padding-top:5px;
}

.page-button{
    padding-top:4px;
    padding-bottom:4px;
    width:70px;
    color:#ffffff;
    background: #0c536f;
    margin-top: 5px;
    margin-right:15px;
    margin-left:15px;
    opacity:.7;
}

.page-button:hover{
    text-decoration: none;
    background-color: #4AB7E3;
}

.page-button.previous{
    float:left;
}

.page-button.next{
    float:right;
}

/*
#user-list .heading{
    width: 400px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
    font-family: Helvetica;
    color:#545454;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}*/
