/*#videoListWrapper{
    width:400px;
    margin-left: auto;
    margin-right: auto;
}

#videoList{
    width: 380px;
}*/

#user-list .user-info.wrapper{
    border-top: 1px solid #b4b4b4;
    height:70px;
}

#user-list .fb-thumb-square{
    position:absolute;
    margin-top:2px;
    margin-left: 14px;
}

#user-list .username{
    position: absolute;
    margin-left: 100px;
    margin-top: 25px;
    font-family: Helvetica;
    font-size: 18px;
}

.user-list-follow-button{
    float:right;
    margin-top: 20px;
    width: 90px;
    margin-right: 20px;
    height:22px;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    color:#ffffff;
    background-color:#0c536f;
    font-family: Arial;
    font-size:13px;
    font-weight: 800;
    text-align:center;
    padding-top:7px;
}

/*
#user-list .heading{
    width: 400px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
    font-family: Helvetica;
    color:#545454;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}*/