#user-list .user-info.wrapper{
    height:70px;
    border-bottom: 1px solid #cccccc;
}


.user-info.no-users{
    height:40px;
}

#user-list .inner{
    font-size: 18px;
    text-align: center;
    margin-top:15px;
}

#user-list .fb-thumb-square{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

#user-list .username{
    float: left;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 25px;
}

.user-list-follow-button{
    float:right;
    margin-top: 20px;
    width: 90px;
    margin-right: 20px;
    height:22px;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    color:#ffffff;
    background-color:#0c536f;
    font-size:13px;
    font-weight: 800;
    text-align:center;
    padding-top:7px;
}

/*
#user-list .heading{
    width: 400px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
    font-family: Helvetica;
    color:#545454;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}*/
