.video-wrapper{
    text-align:left;
    width:700px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
    padding-bottom: 5px;
}
h3.video-title{
    margin-bottom:20px;
}
.video-player{
position:static;
width:640px;
margin-left:-5px;
padding: 10px;
background: #333;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
text-align: center;
display:block;
}

.close-button-fancy{
    display: none;
}

.video-thumb{
    clear:left;
}

.video-info{
    margin-left:30px;
}

.right-panel{
    margin-left: 740px;
}

.video-buttons-container{float:right;}

.video-thumbnail-btn{
    display:none;
}

.liked-by-wrapper{
    width:640px;
    border-top: 1px solid #cccccc;
    margin-top: 20px;
}

.user-dropdown .close-button{
    margin-right:0px;
}

.blue{
    color:#4cb3de;
}

#user-info-container{
    width: 760px;
}

#user-info-container .inner{
    position:absolute;
    color:#414141;
    text-align: left;
    font-size:17px;
    font-family: "Helvetica Neue";
}

#user-info-container .fb-signup{
    position: absolute;
    margin-top:15px;
    width:235px;
    height:50px;
    background-image: url(/static/images/education/fb_signup.png);
}

#user-info-container .fb-signup:hover{
    background-image: url(/static/images/education/fb_signup_hover.png);
}

#signup-pitch{
    width:760px;
    height:120px;
    margin-left: auto;
    margin-right: auto;
}
