.video-thumbnail{
    width:100%;
    height:100%;
}

.video-thumb-wrapper{
    position:absolute;
    width:150px;
    height:110px;
    margin-left:0px;
    margin-top:5px;
}

.video-info{
    position:absolute;
    margin-left:170px;
    margin-top:30px;
}

.video-title{
    position:absolute;
    margin-top: 0px;
    margin-left:170px;
    padding-top: 0px;
    font-size:17px;
}

.video-description{
    width:500px;
}

.video-thumbnail-btn {
    height: 103px;
    background: url(/static/images/kkn-video-sprites.png) no-repeat -300px 38px;
    position: relative;
    top: -114px;
}

.video-queue-item .video-saved{
    position:absolute;
    margin-top:66px;
}

.video-queue-item .video-description{
    position:absolute;
    width:500px;
    margin-top:0px;
}

.video-container{
    width:730px;
    height:140px;
    padding-right:5px;
    padding-left:8px;
    padding-top:5px;
}