.video-thumbnail{
    width:100%;
    height:100%;
}

.video-thumb-wrapper{
    position:absolute;
    width:150px;
    height:110px;
    margin-left:0px;
    margin-top:5px;
}

.video-info{
    position:absolute;
    margin-left:170px;
    margin-top:30px;
}

.video-title{
    position:absolute;
    margin-top: 0px;
    margin-left:170px;
    padding-top: 0px;
    font-size:17px;
}

.video-description{
    width:500px;
}

.video-thumbnail-btn {
    height: 103px;
    background: url(/static/images/kkn-video-sprites.png) no-repeat -300px 38px;
    position: relative;
    top: -114px;
}

.video-queue-item .video-saved{
    position:absolute;
    margin-top:66px;
}

.video-queue-item .video-description{
    position:absolute;
    width:500px;
    margin-top:0px;
}

.video-container{
    width:730px;
    height:140px;
    padding-right:5px;
    padding-left:8px;
    padding-top:5px;
}

.video-syndicate-dialog {
    display: none;
    z-index: 100;
    background-color: white;
}

.video-syndicate-dialog.callout {
    width: 320px;
    height: 112px;
    position: absolute;
    margin-top: -146px;
    margin-left: 338px;
    border:2px solid #999999;
    padding:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow:0 0 5px #888888;
    -webkit-box-shadow:0 0 5px #888888;
}

.video-syndicate-dialog.activity-callout {
    position: absolute;
    margin-top: -167px;
    margin-left: 355px;
}

.video-syndicate-dialog.activity-callout-save-button {
    position: absolute;
    margin-top: -167px;
    margin-left: 335px;
}

.video-syndicate-dialog.saved-callout {
    position: absolute;
    margin-top: -146px;
    margin-left: 360px;
}

.video-syndicate-dialog .callout-notch-border {
    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: 8px;
    right: -17px;
    z-index: 110;
}

.video-syndicate-dialog .callout-notch {
    border-color: transparent transparent transparent #999;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: 8px;
    right: -20px;
}

.video-syndicate-dialog .message {
    width : 250px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    position: relative;
    left: 35px;
    overflow: hidden;
    padding: 5px;
    font-style: normal;
    font-weight: 500;
    font-variant: normal;
    color: #000000;
}

.video-syndicate-dialog .image {
    background:url('/static/images/heart_fb.png') no-repeat scroll 0px 0px transparent;
    width: 150px;
    height: 46px;
    display: block;
    position: relative;
    left: 85px;
}

.video-syndicate-dialog .footer {
    top: 3px;
    width : 100%;
    height: 30px;
    position: relative;
}

.video-syndicate-dialog .footer-left {
    float: left;
}

.video-syndicate-dialog .footer-right {
    float: right;
}

.video-syndicate-dialog .ok-button {
    display: block;
    text-align: center;
    width: 40px;
    height: 20px;
    background-color: #0C536F;
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 0 3px #888888;
    -webkit-box-shadow: 0 0 3px #888888;
}

.video-syndicate-dialog .fb-show-message-label {
    font-size: 12px;
}

.video-syndicate-dialog .ok-button:hover {
    background-color: #E5EFF3;
    color: #144D63;
}
