<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Watchlr</title>

    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta name="Charset" content="UTF-8"/>
    <meta name="title" content="Watchlr"/>
    <meta name="copyright" content="Watchlr"/>
    <meta name="description" content="Discover, save and share videos online."/>

    <link rel="image_src" href="{{ STATIC_URL }}static/images/watchlr_logo_small.png"/>
    <link rel="icon" href="{{ STATIC_URL }}static/images/favicon.ico" type="image/x-icon"/>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/global.css" media="all"/>

    <!-- jQuery & friends -->
    <script type="text/javascript" src="https://d1bz0niltboynx.cloudfront.net/cfon-yui%2Bvag_400.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://d1bz0niltboynx.cloudfront.net/jquery.hashchange-1.0.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/globals.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/util/CSSHelper.js"></script>
</head>
<body>
<div id="header">
    <a href="/" title="Watchlr"><h1 id="header-logo"></h1></a>
    <div id="header-right" class="right">


    </div>

    <div class="right" id="loggedInInstallPitch" style="display: none;">
        <a class="btn_dl_small" href="javascript://downloadnow">&nbsp;</a>
    </div>
</div>

<!-- #header -->
<div id="wrapper">
    <div id="content">

        <div style="font-size: 30px;padding-top:30px;">
        Not Found
        </div>
        <br><br>
        You have requested a page not present on our server.

    </div>
</div>

<br/>

<div class="greyed-background"></div>
{% include "includes/analytics.html" %}
</body>
</html>
