<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <!-- kiss metrics -->
    <script type="text/javascript">
      var _kmq = _kmq || [];
      function _kms(u){
        setTimeout(function(){
          var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
          s.src = u; f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/182748b1ce15ad4b4827dd3ef99073c937f871dd.1.js');
    </script>
    <!-- /kiss metrics -->

    <title>Watchlr</title>

    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta name="Charset" content="UTF-8"/>
    <meta name="title" content="Watchlr"/>
    <meta name="copyright" content="Watchlr"/>
    <meta name="description" content="Discover, save and share video online."/>
    <meta name="keywords" content="Watchlr, video, Watchlr video, online video, instant video, save video, save video for later"/>

    <link rel="image_src" href="{{ STATIC_URL }}images/watchlr_logo_small.png"/>
    <link rel="icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon"/>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/global.css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans&v1' rel='stylesheet' type='text/css'>{% block style_refs %}{% endblock style_refs %}

    <!-- jQuery & friends -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/cfon-yui+vag_400.js?v=0"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hashchange-1.0.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/globals.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/util/CSSHelper.js"></script>{% block script_refs %}{% endblock script_refs %}
</head>
<body>
<div id="header">
    <a href="/" title="Watchlr"><h1 id="header-logo"></h1></a>
    <div id="header-right" class="right">

        {% block header_right %}
        {% endblock header_right %}

    </div>

    <div class="right" id="loggedInInstallPitch" style="display: none;">
        <a class="btn_dl_small" href="javascript://downloadnow">&nbsp;</a>
    </div>
</div>

<!-- #header -->
<div id="wrapper">
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</div>

<!-- footer -->
<div id="footer">
    <div id="footer-copyright">&copy; 2011 2b Holdings LLC</div>
    <ul id="footer-nav" class="nav">
        <li>
            <a href="http://webux.wufoo.com/forms/contact-team-watchlr/" title="Contact">Contact</a>
        </li>
        <li>
            <span class="footer-nav-separator">|</span><a href="http://getsatisfaction.com/watchlr" title="FAQ">FAQ</a>
        </li>
        <li>
            <span class="footer-nav-separator">|</span><a href="http://watchlr.tumblr.com/" title="Blog">Blog</a>
        </li>
        <li>
            <span class="footer-nav-separator">|</span><a href="/privacy" title="Privacy">Privacy</a>
        </li>
        <li>
            <span class="footer-nav-separator">|</span><a href="/terms_of_service" title="Terms of Service">Terms
            of
            Service</a>
        </li>
    </ul>
</div>
<!-- #footer -->
<br/>

<div class="greyed-background"></div>
{% block body_end %}
{% endblock body_end %}
</body>
</html>
