<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>kikin Video</title>

    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta name="Charset" content="UTF-8"/>
    <meta name="title" content="kikin"/>
    <meta name="copyright" content="kikin Inc."/>
    <meta name="description" content="Save videos on any page to be watched later"/>
    <meta name="keywords" content="kikin, video, kikin video, online video, instant video, save video, save video for later"/>
    <link rel="image_src" href="{{ settings.STATIC_URL }}images/kikin_beta.gif"/>
    <link rel="icon" href="{{ settings.STATIC_URL }}images/favicon.ico"/>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}css/global.css?v=4" media="all"/>{% block style_refs %}{% endblock style_refs %}

    <!-- jQuery & friends -->
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/cfon-yui+vag_400.js?v=0"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/jquery-1.6.1.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/jquery.hashchange-1.0.0.js"></script>
    <script src="{{ settings.STATIC_URL }}js/video.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/kikinvideo_globals.js"></script>
    <link rel="stylesheet" href="{{ settings.STATIC_URL }}css/video-js.css" type="text/css" media="screen" title="Video JS" charset="utf-8"/> {% block script_refs %}{% endblock script_refs %}
</head>
<body>
<div id="header">
    <a href="/" title="kikin video"><h1 id="header-logo"></h1></a>
    <div id="header-right" class="right">

        {% block header_right %}
        {% endblock header_right %}

    </div>

    <div class="right" id="loggedInInstallPitch" style="display: none;">
        <a class="btn_dl_small" href="javascript://downloadnow">&nbsp;</a>
    </div>
</div>

<!-- #header -->
<div id="wrapper">
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</div>

<!-- footer -->
<div id="footer">
    <div id="footer-copyright">&copy; 2008-2011 kikin, Inc.</div>
    <ul id="footer-nav" class="nav">
        <li>
            <a href="http://www.kikin.com/blog">Blog</a>
        </li>
        <li>
            <span class="footer-nav-separator">|</span><a href="http://www.kikin.com/about">About</a>
        </li>
        <li>
            <span class="footer-nav-separator">|</span><a href="http://www.kikin.com/privacy"
                                                          title="Privacy">Privacy</a>
        </li>
        <li>
            <span class="footer-nav-separator">|</span><a href="http://www.kikin.com/contact" title="Contact us">Contact
            us</a>
        </li>
        <li>
            <span class="footer-nav-separator">|</span><a href="http://www.kikin.com/terms" title="Terms of Service">Terms
            of
            Service</a>
        </li>
        <li>
            <span class="footer-nav-separator">|</span><a href="http://www.kikin.com/jobs" title="Jobs">Jobs</a>
        </li>
        <li class="fb-twit">
            <a href="http://www.facebook.com/pages/kikin/124204911881" title="Kikin on Facebook"
               target="_blank"><img
                    src="{{ settings.STATIC_URL }}images/footer/footerfacebook.gif" alt="Facebook"/></a><a
                href="http://twitter.com/kikin_inc"
                title="Kikin on Facebook"
                target="_blank"><img
                src="{{ settings.STATIC_URL }}images/footer/footertwitter.gif" alt="Twitter"/></a>
        </li>
    </ul>
</div>
<!-- #footer -->
<br/>

<div class="greyed-background"></div>
</body>
</html>
