{% extends "base.html" %}
{% block style_refs %}
    {{ block.super }}
    <link type='text/css' rel='stylesheet' href='{{ STATIC_URL }}css/goodbye.css'/>
{% endblock style_refs %}
    {% block content %}
            <div class='info'>
                So long!
            </div>
            <img src='/static/images/kitten.png' id='kitten' class='shadow-5l'/>
            <div class='info bottom'>
                ...goodbyes are always hard, but we're afraid we've got to<br>
                <a href='http://blog.watchlr.com/' target='_blank'>
                go away forever.
                </a>
            </div>
    {% endblock content %}
