{% load logged_out_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Watchlr</title>

        <meta http-equiv="X-UA-Compatible" content="IE=8"/>
        <meta name="Charset" content="UTF-8"/>
        <meta name="title" content="Watchlr"/>
        <meta name="copyright" content="Watchlr"/>
        <meta name="description" content="Discover, save and share video online."/>
        <meta name="keywords" content="Watchlr, video, save video, online video, instant video, save video for later, watch later"/>
        <link rel="image_src" href="{{ STATIC_URL }}images/watchlr_logo_small.png"/>
        <link rel="icon" href="{{ STATIC_URL }}images/favicon.ico"/>

        <!-- Styles -->
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/homepage.css?v={{ VERSION }}" media="all"/>{% block style_refs %}{% endblock style_refs %}

        <!-- jQuery & friends -->
        <script type="text/javascript" src="https://d1bz0niltboynx.cloudfront.net/cfon-yui%2Bvag_400.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://d1bz0niltboynx.cloudfront.net/jquery.hashchange-1.0.0.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/globals.js?v={{ VERSION }}"></script>{% block script_refs %}{% endblock script_refs %}
    </head>
    <body>
        <div id="header">
            <div id="header-wrapper">
                <a href="/" title="Watchlr"><h1 id="header-logo"></h1></a>
                <div id="header-right" class="right">
                    <div id="myConnectionsNot">
                        <a id="lnkConnectFb" class="kkn-fb-connect" href="/login/facebook?campaign={{ request|get_campaign:"hp2" }}&next={{ request.path }}"></a>
                    </div>
                </div>

                <div class="right" id="loggedInInstallPitch" style="display: none;">
                    <a class="btn_dl_small" href="javascript://downloadnow">&nbsp;</a>
                </div>
            </div>
        </div>

        <div id="splash">
            <div id="wrapper">
                <div id="wrapper-left">
                    <img title="Watchlr" src="{{ STATIC_URL }}images/logo_big2.png" style="padding-top: 85px;"/>
                    <br />
                    <div style="font-size: 36px; font-weight:700; padding-top:5px; padding-left: 175px;">
                        Your online DVR.
                    </div>
                    <div style="font-size: 19px; padding-top: 45px; padding-left: 60px; font-style: italic;">
                        New Users
                    </div>
                    <a href="/login/facebook?campaign={{ request|get_campaign:"hp2" }}&next={{ request.path }}">
                        <div title="Sign up" class="facebook_signup"></div>
                    </a>
                </div>
                <div id="wrapper-right">
                    <img title="Play video on popular devices" src="{{ STATIC_URL }}images/devices.png"/>
                </div>
            </div>
        </div>
        <div id="iconset-wrapper">
            <div id="iconset-container">
                <div style="width:280px; color:white; float:left; clear: both;">
                    <img title="Watch Later" src="{{ STATIC_URL }}images/white_plus_rounded.png" style="float:left; margin-right:25px;"/>
                    <div style="font-size: 18px; font-weight: 700; text-shadow: 1px 1px 1px #000;">
                        Watch Later
                    </div>
                    <div style="font-size: 14px;">
                        Don't have time?<br/>Save videos to watch later.
                    </div>
                </div>
                <div class="iconset-divider"></div>
                <div style="width:380px; color:white; float:left;">
                    <img title="Watchlr on iPad" src="{{ STATIC_URL }}images/white_ipad.png" style="float:left; margin-right:25px; margin-left: 50px;"/>
                    <div style="font-size: 18px; font-weight: bold; text-shadow: 1px 1px 1px #000;">
                        Watchlr iPad App
                    </div>
                    <div style="font-size: 14px;">
                        Get the Watchlr experience<br/>on your iPad ... Coming Soon!
                    </div>
                </div>
                <div class="iconset-divider"></div>
                <div style="width:300px; color:white; float:right;">
                    <img title="Watchlr Community" src="{{ STATIC_URL }}images/white_peeps.png" style="float:left; margin-right:25px; margin-left: 25px;"/>
                    <div style="font-size: 18px; font-weight: bold; text-shadow: 1px 1px 1px #000;">
                        People-powered
                    </div>
                    <div style="font-size: 14px;">
                        Join, share and discover videos<br/>in the Watchlr community.
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>

        <!-- footer -->
        <div id="footer">
            <div id="footer-copyright">&copy; 2011 2b Holdings LLC</div>
            <ul id="footer-nav" class="nav">
                <li>
                    <a href="http://webux.wufoo.com/forms/contact-team-watchlr/" title="Contact">Contact</a>
                </li>
                <li>
                    <span class="footer-nav-separator">|</span><a href="http://getsatisfaction.com/watchlr" title="FAQ">FAQ</a>
                </li>
                <li>
                    <span class="footer-nav-separator">|</span><a href="http://watchlr.tumblr.com/" title="Blog">Blog</a>
                </li>
                <li>
                    <span class="footer-nav-separator">|</span><a href="/privacy" title="Privacy">Privacy</a>
                </li>
                <li>
                    <span class="footer-nav-separator">|</span><a href="/terms_of_service" title="Terms of Service">Terms
                    of
                    Service</a>
                </li>
            </ul>
        </div>
        <!-- #footer -->
		<br/>
		{% include "includes/analytics.html" %}
        <script type="text/javascript">
            $(window).load(function(){
                try{
                    var tracker = _gat._getTracker('UA-4788978-3');
                    tracker._trackPageview('landing_page');
                }catch(excp){}
            });
        </script>
    </body>
</html>
