{% extends "user_home.html" %}
{% load kikinvideo_tags %}
{% block style_refs %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/activity_queue.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/logged_in.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/video_queue_item.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/download.css?v=1" media="all"/>
    {% if suggested_followees|length_is:0 %}
     <style>
     #content{
         width:780px;
     }
     </style>
    {% endif %}

{% endblock style_refs %}

{% block script_refs %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.swfobject.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/froogaloop.js"></script>
    <script type="text/javascript" src="http://www.youtube.com/player_api"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/userprofile.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/VideoController.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/downloadpitch.js"></script>


    <script type="text/javascript">
    $(document).ready(function(){
        if(!window.location.hash)
            window.location = "/#!/saved_queue";
        {% if suggested_followees|length_is:0 and invite_list|length_is:0 %}
        {% endif %}
    });
    </script>

{% endblock script_refs %}

{% block right_panel %}
    <div class="right-panel">
    
    {% if not suggested_followees|length_is:0 %}
    <div class="suggested-followees container rounded-corners-5">
        <div class="inner">
        <div class="title">
            People To Follow
        </div>
            {% for kv_user in suggested_followees %}
                <div class="suggested-followee-item">
                    <a {{ kv_user|user_profile_link }}>
                        <div class="fb-thumb-wrapper">
                            <img src="https://graph.facebook.com/{{ kv_user.facebook_uid }}/picture?type=square"/>
                        </div>
                    </a>
                    <div class="profile-link-container">
                        <a {{ kv_user|user_profile_link }}>
                            {{ kv_user|full_name|truncate_text:16 }}
                        </a>
                    </div>
                    <a href="javascript:profileViewController.handleFollow({{ kv_user.id }})" id="follow-button-user-{{ kv_user.id }}" class="follow-link">
                        Follow
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}

    {%  comment %}
    punted to release-1.7
    {% if not invite_list|length_is:0 %}
    <div class="suggested-followees container">
        <div class="suggested-followees title">
            Spread the Love
        </div>
            {% for kv_user in invite_list %}
                <div class="suggested-followee-item">
                    <a {{ kv_user|user_profile_link }}>
                        <div class="fb-thumb-wrapper">
                            <img src="https://graph.facebook.com/{{ kv_user.facebook_uid }}/picture?type=square"/>
                        </div>
                    </a>
                    <div class="suggested-followees profile-link-container">
                        <a {{ kv_user|user_profile_link }}>
                            {{ kv_user|full_name|truncate_text:13 }}
                        </a>
                    </div>
                    <a href="#" id="invite-button-user-{{ kv_user.id }}" class="follow-button shadow-5l">
                        Invite
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {%  endcomment %}

    </div>
{% endblock right_panel %}
{% block body_end %}
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4788978-3']);
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock body_end %}
