{% extends "base.html" %}

{% block header_right %}
    <div id="myConnectionsNot">
        <a id="lnkConnectFb" class="kkn-fb-connect" href="/login/facebook">

        </a>
    </div>
{% endblock header_right %}

{% block content %}
    <div id="loggedout" style="display: block;">
        <div style="padding-top:75px;"></div>
        <div id="dvUninstalledPromo"></div>
        <br>

        <div id="installed">
            <div style="padding-top:10px;"></div>
            <div class="btn_installed">&nbsp;</div>
        </div>
        <div id="uninstalled" style="display: none;">
            <a class="btn_dl download-cta-body-download" href="javascript://Download!"></a>
        </div>
        <br>

        <div id="featuresSection">
            <br class="clearFloats">
            <br>

            <div class="featureTxt" style="width:806px;">
                <h4>
                    Place your mouse on any video, on any webpage and kikin will add a
                    <span class="blue">"Save For Later"</span>
                    button.
            </div>
            <img class="featureImage" alt="Download Now!" src="{{ settings.STATIC_URL }}images/education/education.png">
            <br class="clearFloats">

            <div style="height:40px;"></div>
            <div class="featureTxt" style="width:806px;">
                <h4>
                    Watch Saved Videos on Your
                    <span class="blue">Desktop</span>
                    or
                    <span class="blue">Mobile Device</span>
                </h4>
                Easily manage your saved videos and watch them
                <span class="blue">anywhere.</span>
            </div>
            <img class="featureImage" style="padding-left:145px;" alt="Download Now!"
                 src="{{ settings.STATIC_URL }}images/screenshot2.png">
            <br class="clearFloats">
        </div>
        <br>
        <br>
    </div>
{% endblock content %}