{% extends "user_home.html" %}
{% load kikinvideo_tags %}

{% block script_refs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/uiuniversal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/homeviewcontroller.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/userprofile.js"></script>
    <script type="text/javascript">
    activeView = VIEWS.profile;
    $(document).ready(function(){
        /*because we must use absolute...*/
        $('#content').css({height:$('#videoListWrapper').height()+$('#user-info-container').height()+100});

        $('#facebook-img').load(function(){
            //fb graph images are of fixed width and variable height...we must accommodate this...
            if($('#facebook-img').width() > $('#facebook-img').height()){
                $('#facebook-img').css({
                    marginTop:(100-$('#facebook-img').height())/2
                });

                $('#facebook-img-container').css({width:108});
                $('#facebook-img').addClass('shadow-5l');
                $('#facebook-img').css({marginLeft:8});

            }
            //if image is "portrait"...
            else if($('#facebook-img').width() < $('#facebook-img').height()){
                $('#facebook-img-container').css({height:108});
                $('#facebook-img').css({height:100});
                $('#facebook-img').addClass('shadow-5l');
            }
            else{
                $('#facebook-img-container').addClass('shadow-5l');
            }
        });
        stylizeVideoTitles();
    });
    </script>
    {% block script_ext %}{% endblock script_ext %}
{% endblock script_refs %}

{% block style_refs %}
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/profile.css'/>
{% endblock style_refs %}

{% block content %}
    <meta name="profile_subject" content="{{ profile_owner.id }}"/>
    <div id="user-info-container">
    <div class="user-info gradient"></div>
        <div class="inner">
        <div id="facebook-img-container">
           <a href="/{{ profile_owner.username }}">
           <img id='facebook-img'src="https://graph.facebook.com/{{ profile_owner.facebook_uid }}/picture?type=normal"/>
           </a>
        </div>
            <div id="username-display">
                    <div class="primary">
                        {{ profile_owner.username }}
                    </div>
                    <div class="sub">
                        ({{ profile_owner.first_name }} {{ profile_owner.last_name }})
                    </div>
                    <div class="profile-basic-statistics" style="left:160px;">
                        {{ profile_owner|total_liked_videos }}
                        <div class="profile-basic-statistics-sub">
                            Liked<br>videos
                        </div>
                    </div>
                <a href="/followers/{{ profile_owner.id }}">
                    <div class="profile-basic-statistics with-breakers" style="left:250px;">
                        <div id="follower-count-user-{{ profile_owner.id }}">
                        {{ profile_owner.followers|length }}
                        </div>
                        <div class="profile-basic-statistics-sub" style="margin-top:10px;">
                            {% if profile_owner.followers|length_is:1 %}
                            Follower
                            {% else %}
                            Followers
                            {% endif %}
                        </div>
                    </div>
                </a>
                <a href="/following/{{ profile_owner.id }}">
                    <div class="profile-basic-statistics" style="left:365px;">
                        {{ profile_owner.following|length }}
                        <div class="profile-basic-statistics-sub">
                            {% if profile_owner.following|length_is:1 %}
                            Followed<br>user
                            {% else %}
                            Followed<br>users
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% if not is_own_profile %}
                    {% if profile_owner in user.following %}
                        <a href="javascript:profileViewController.handleUnfollow({{ profile_owner.id }})" id="follow-button-user-{{ profile_owner.id }}"
                                class="follow-button shadow-5l">
                            Unfollow
                        </a>
                    {% else %}
                        {% if not user.is_authenticated %}
                        <a href="javascript:alert('you must register an account with Kikin Video before you can follow users');"
                           id="follow-button-user-{{ profile_owner.id }}" class="follow-button shadow-5l">
                            Follow
                        </a>
                        {% else %}
                        <a href="javascript:profileViewController.handleFollow({{ profile_owner.id }})" id="follow-button-user-{{ profile_owner.id }}"
                                class="follow-button shadow-5l">
                            Follow
                        </a>
                        {% endif %}
                    {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    {% block video_section %}
    <div id="videoListWrapper">
    <div id="videoList">
    {% if videos|length_is:0 %}

        <div id="video-{{video.id}}" class="video-wrapper">
            <div class="video-container">
                <div class="no-liked-videos">
                    <div class="no-liked-videos inner">
                        {{ profile_owner.first_name }} hasn't liked any videos yet
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    {% for video in videos %}
        
        {% video_queue_item %}

    {% endfor %}
    {% endif %}
    </div>
    </div>
    {% endblock video_section %}
{% endblock content%}
