{% extends "user_home.html" %}
{% load kikinvideo_tags %}

{% block script_refs %}
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/kikinvideo/uiuniversal.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/kikinvideo/homeviewcontroller.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/kikinvideo/userprofile.js"></script>
    <script type="text/javascript">
    activeView = VIEWS.profile;
    $(document).ready(function(){
        /*because we must use absolute...*/
        $('#content').css({height:$('#videoListWrapper').height()+$('#user-info-container').height()+100});
        stylizeVideoTitles();
    });
    </script>
{% endblock script_refs %}

{% block style_refs %}
    <link rel='stylesheet' type='text/css' href='{{ settings.STATIC_URL }}css/profile.css'/>
{% endblock style_refs %}

{% block content %}
    <meta name="profile_subject" content="{{ profile_owner.id }}"/>
    <div id="user-info-container" class="shadow-5l">
    <div class="user-info gradient"></div>
        <div class="inner">
            <div id="facebook-img-container" class="shadow-5l">
                <img id='facebook-img'src="https://graph.facebook.com/{{ profile_owner.facebook_uid }}/picture?type=normal"/>
            </div>
            <div id="username-display">
                    <div class="primary">
                        {{ profile_owner.username }}
                    </div>
                    <div class="sub">
                        ({{ profile_owner.first_name }} {{ profile_owner.last_name }})
                    </div>
                <div class="profile-basic-statistics" style="left:160px;">
                    {{ profile_owner|total_liked_videos }}
                    <div class="profile-basic-statistics-sub">
                    Liked<br>videos
                    </div>
                </div>
                <div class="profile-basic-statistics with-breakers" style="left:250px;">
                    <div id="follower-count-user-{{ profile_owner.id }}">
                    {{ profile_owner.followers|length }}
                    </div>
                    <div class="profile-basic-statistics-sub" style="margin-top:10px;">
                    Followers
                    </div>
                </div>
                <div class="profile-basic-statistics" style="left:365px;">
                    {{ profile_owner.following|length }}
                    <div class="profile-basic-statistics-sub">
                    Followed<br>users
                    </div>
                </div>
                {% if not is_own_profile %}
                    {% if profile_owner in user.following %}
                        <a href="#!/unfollow?user={{ profile_owner.id }}" id="follow-link-user-{{ profile_owner.id }}">
                            <div id="follow-button-user-{{ profile_owner.id }}" class="follow-button shadow-5l">Unfollow</div>
                        </a>
                    {% else %}
                        {% if not user.is_authenticated %}
                        <a href="javascript:alert('you must register an account with Kikin Video before you can follow users');">
                            <div id="follow-button-user-{{ profile_owner.id }}" class="follow-button shadow-5l">Follow</div>
                        </a>
                        {% else %}
                        <a href="#!/follow?user={{ profile_owner.id }}" id="follow-link-user-{{ profile_owner.id }}">
                            <div id="follow-button-user-{{ profile_owner.id }}" class="follow-button shadow-5l">Follow</div>
                        </a>
                        {% endif %}
                    {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    <div id="videoListWrapper">
    <div id="videoList">
    {% for video in videos %}
        <div id="video-{{video.id}}" class="video-wrapper">
            <div class="video-container">
                <h3 class="video-title"><a href="/video/{{video.id}}">{{ video.title }}</a></h3>

                <div class="video-buttons">

                {% if video not in user.saved_videos and user.is_authenticated %}
                <a href="#!/save?vid={{ video.id }}" title="save">
                    <div id="save-video-button-vid-{{ video.id }}" class="save-video-button not-saved no-hover"></div>
                </a>
                {% else %}
                    {% if user.is_authenticated %}
                    <a href="#!/save?vid={{ video.id }}" title="save">
                        <div id="save-video-button-vid-{{ video.id }}" class="save-video-button saved no-hover"></div>
                    </a>
                     {% endif %}
                {% endif %}


                <a href="#!/like?vid={{ video.id }}">
                {% if video in user.liked_videos or not user.is_authenticated %}
                    <div class="heart-container liked" id="liked-icon-vid-{{ video.id }}"></div>
                {% else %}
                    <div class="heart-container no-hover" id="liked-icon-vid-{{ video.id }}"></div>
                {% endif %}
                </a>
                   
                {% if video.total_likes != 0 and video not in user.liked_videos %}
                <div class ="video-liked-info"id="video-liked-info-vid-{{ video.id }}" style="color:#cccccc;">
                    {{ video.total_likes }}
                </div>
                {% else %}
                <div class ="video-liked-info"id="video-liked-info-vid-{{ video.id }}">
                    {{ video.total_likes }}
                </div>
                {% endif %}


                </div>
                <a href="#!/player?vid={{ video.id }}">
                    <div class="video-image" id="video-{{ video.id }}">
                        <div class="video-thumb-wrapper">
                            <img class="video-thumbnail" src="{{video.get_thumbnail.url}}"
                                 onerror="this.style.visibility='hidden'"
                                 onload="if(this.height<147) this.style.marginTop = (147-this.height)+'px'"/>

                            <div class="abs-position">
                                <div class="video-thumbnail-btn" id="video-thumbnail-btn-vid-{{ video.id }}"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="video-info">
                    <div class="video-description">{{ video.description }}</div>
                    <div class="video-saved">
                        <a href="{{video.url}}">{{ video.title }}</a>
                    </div>
                </div>

                <br style="clear:both;"/>

            {% video_player video %}

            </div>
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock content%}
