{% extends "user_home.html" %}
{% load kikinvideo_tags %}

{% block title %}{{ profile_owner|full_name }} ({{ profile_owner.username }}) on Watchlr{% endblock title %}

{% block script_refs %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/homeviewcontroller.js?v={{ VERSION }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/userprofile.js?v={{ VERSION }}"></script>
    
    <script type="text/javascript">
        activeView = VIEWS.profile;
        $(document).ready(function(){

            //fade in signup pitch...
            if($('#signup-pitch').length != 0){
                $('#signup-pitch').css('visibility','visible').hide().fadeIn(1200);
            }

            $('.video-container:last').css('border-bottom', 'none');

            {% if display_mode == 'profile' %}
                home.populatePanel();
            {% endif %}
        });

        $(window).load(function(){
            $('#arrow').css({
                top:$('.user-info-button.selected').offset().top+3,
                marginLeft:$('.user-info-button.selected').width() + 20
            });

          /*  if($('.user-info-button.selected').offset().top < $('#videoListWrapper').offset().top + $('#videoListWrapper').height())
                $('#arrow').fadeIn(200);*/
                        
        });
    </script>
    {% block script_ext %}{% endblock script_ext %}
{% endblock script_refs %}

{% block style_refs %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/logged_in.css?v={{ VERSION }}" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/video_queue_item.css?v={{ VERSION }}" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css?v={{ VERSION }}" type="text/css"/>
{% endblock style_refs %}

{% block content %}

    {% if not user.is_authenticated %}
        <div id="signup-pitch">
            <div class="inner">
                {{ profile_owner|full_name }} is on Watchlr<br>
                Discover, save and share video online. Sign up with Facebook to get started now!
                <a class="fb-signup" href="/login/facebook?campaign=ps&next={{ request.path }}"></a>
            </div>
        </div>
    {% endif %}


    <meta name="profile_subject" content="{{ profile_owner.id }}"/>
    <div id="user-info-container" class="profile">
        <div class="inner">
            <div id="facebook-img-container" class="rounded-corners-5">

                    <img class="rounded-corners-5" id='facebook-img'src="https://graph.facebook.com/{{ profile_owner.facebook_uid }}/picture?type=large"/>

            </div>
            <div id="user-info">
                <div class="link-wrapper">
                    <a href="/{{ profile_owner.username }}" class='user-info-button liked-videos rounded-corners-5 selected'>
                    <span class="profile-basic-statistics">
                        <span class='bold'>
                        {{ profile_owner|total_liked_videos }}
                        </span>
                            Liked videos
                    </span>
                    </a>
                </div>
                <div class='link-wrapper'>
                    <a href="/followers/{{ profile_owner.id }}" class='user-info-button followers rounded-corners-5'>
                        <span class="profile-basic-statistics">
                            <span id="follower-count-user-{{ profile_owner.id }}">
                                <span class='bold'>
                                {{ profile_owner.follower_count}}
                                </span>
                                {% if profile_owner.follower_count == 1 %}
                                    Follower
                                {% else %}
                                    Followers
                                {% endif %}
                            </span>
                        </span>
                    </a>
                </div>
                <div class='link-wrapper'>
                    <a href="/following/{{ profile_owner.id }}" class='user-info-button following rounded-corners-5'>
                        <span class="profile-basic-statistics">
                            <span class='bold'>
                            {{ profile_owner.following_count }}
                            </span>
                            {% if profile_owner.following_count == 1 %}
                                Followed user
                            {% else %}
                                Followed users
                            {% endif %}
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <img id='arrow' src='{{ STATIC_URL }}images/profile/arrow.png'/>
    </div>
    {% block video_section %}
        <div id='username-display'>
            <div id='username-wrapper'>
                <span id='username'>
                    {{ profile_owner.username }}
                </span>
                <span id='real-name'>
                    &nbsp;({{ profile_owner|full_name }})
                </span>
            </div>
                {% if not is_own_profile %}
                    {% if profile_owner in user.following %}
                        <a href="javascript:profileViewController.handleUnfollow({{ profile_owner.id }})" id="follow-button-user-{{ profile_owner.id }}"
                           class="follow-button shadow-5l">
                            Unfollow
                        </a>
                        {% else %}
                        {% if not user.is_authenticated %}
                            <a href="/login/facebook?campaign=pf&next={{ request.path }}"
                               id="follow-button-user-{{ profile_owner.id }}" class="follow-button shadow-5l">
                                Follow
                            </a>
                        {% else %}
                            <a href="javascript:profileViewController.handleFollow({{ profile_owner.id }})" id="follow-button-user-{{ profile_owner.id }}"
                               class="follow-button shadow-5l">
                                Follow
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}
        </div>
        {% block video_section_ext %}
            <div id="videoListWrapper" class="shadow-4">
                <div id="video-wrapper-left-filler" style="position:absolute;height:40px;width:10px;margin-left:0px;margin-top:-8px;background-color:#E5EFF3;z-index:0;"></div>
                <div id="videoList">
                        <div class="loading-container initial"  style="position:static;width:200px;margin-left: auto;margin-right: auto;">
                            <div class="loading"></div>
                        </div>
                    {% block videolist %}
                    {% endblock videolist %}
                </div>
                <a id="lnk-page-next" href="javascript:home.loadMoreVideos()" style="display: none;">load more</a>
                <div id="video-player-container" style="">
                    {% video_player_html5 %}
                </div>
            </div>
        {% endblock video_section_ext %}
    {% endblock video_section %}

{% endblock content%}

{% block body_end %}
    {% include "includes/analytics.html" %}
{% endblock body_end %}
