{% extends "user_home.html" %}
{% load kikinvideo_tags %}
{% block style_refs %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/activity_queue.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/logged_in.css" type="text/css"/>
    <link rel='stylesheet' href='{{ STATIC_URL }}css/profile.css' type='text/css'/>
    <style>

    {% if not user.is_authenticated %}
        #video-section{
            padding-top: 0px;
        }
    {% else %}
        #videoListWrapper{
            border-radius: 8px 8px 8px 8px;
            -webkit-border-radius:8px 8px 8px 8px;;
            -moz-border-radius: 8px 8px 8px 8px;
            padding-top: 12px;
        }
    {% endif %}

	.video-wrapper{
		text-align:left;
        width:700px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: none;
        padding-bottom: 5px;
	}
	h3.video-title{
		margin-bottom:20px;
	}
    .video-player{
    position:static;
    width:640px;
    margin-left:-5px;
    padding: 10px;
    background: #333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    display:block;
    }

    .close-button-fancy{
        display: none;
    }

	.video-thumb{
		clear:left;
	}

    .video-info{
        margin-left:30px;
    }

    .right-panel{
        margin-left: 740px;
    }
	
	.video-buttons-container{float:right;}

    .video-thumbnail-btn{
        display:none;
    }

    .liked-by-wrapper{
        width:640px;
        border-top: 1px solid #cccccc;
        margin-top: 20px;
    }

    .user-dropdown .close-button{
        margin-right:0px;
    }

    .blue{
        color:#4cb3de;
    }

    #user-info-container{
        width: 760px;
    }

    #user-info-container .inner{
        position:absolute;
        color:#414141;
        text-align: left;
        font-size:17px;
        font-family: "Helvetica Neue";
    }

    #user-info-container .fb-signup{
        position: absolute;
        margin-top:15px;
        width:235px;
        height:50px;
        background-image: url(/static/images/education/fb_signup.png);
    }

    #user-info-container .fb-signup:hover{
        background-image: url(/static/images/education/fb_signup_hover.png);
    }


    </style>
{% endblock style_refs%}

{% block script_refs %}
    <script src="{{ STATIC_URL }}video_player/video.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/homeviewcontroller.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/uiuniversal.js"></script>
    
    <script type="text/javascript">
        activeView = VIEWS.detail;
        stylizeVideoTitles();
        $(document).ready(function(){
            home.bindVideoPanelEvents();
        });
    </script>

{% endblock script_refs %}

{% block content %}
    {% if not user.is_authenticated %}
    <div id="user-info-container">
        <div class="user-info gradient"></div>
        <div class="inner">
            Kikin Video helps you <span class="blue">discover</span>, <span class="blue">share</span> and
            <span class="blue">save</span> videos to watch later.<br>
            Sign up using your existing Facebook account!<br>
            <a class="fb-signup" href="/login/facebook"></a>
        </div>
    </div>
    {% endif %}
    <div id="video-section" style="width: 680px;">
        <div id="videoListWrapper">
            <div id="videoList">
                {% video_queue_item %}
            </div>
        </div>
    </div>
{% endblock %}