{% extends "user_home.html" %}

{% block title %}{{ video.title }} - Watchlr{% endblock title %}

{% load kikinvideo_tags %}

{% block meta_tags %}
    <meta property="og:title" content="{{ video.title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://www.watchlr.com/video/{{ video.id }}/"/>
    <meta property="og:image" content="{{ video|web_thumbnail_url }}"/>
    <meta property="og:site_name" content="Watchlr"/>
    <meta property="fb:app_id" content="220283271338035"/>
    <meta property="og:description" content="{{ video.description|truncate_chars:160 }}"/>
    <meta property="og:video" content="/static/video_player/WatchlrPlayer.swf?video_id={{ video.id }}" />
    <meta property="og:video:type" content="application/x-shockwave-flash">
    <meta property="og:video:width" content="396">
    <meta property="og:video:width" content="297">
{% endblock meta_tags %}

{% block style_refs %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/activity_queue.css?v={{ VERSION }}" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/logged_in.css?v={{ VERSION }}" type="text/css"/>
    <link rel='stylesheet' href="{{ STATIC_URL }}css/profile.css?v={{ VERSION }}" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/video_queue_item.css?v={{ VERSION }}" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/video_detail.css?v={{ VERSION }}" type="text/css"/>
    <style>
    {% if not user.is_authenticated %}
        #video-section{
            padding-top: 0px;
        }
    {% else %}
        #videoListWrapper{
            border-radius: 8px 8px 8px 8px;
            -webkit-border-radius:8px 8px 8px 8px;;
            -moz-border-radius: 8px 8px 8px 8px;
            padding-top: 12px;
            margin-left: 0px;
        }
    {% endif %}

	h3.video-title{
		margin-bottom:20px;
	}
    .video-player{
        position:static;
        margin-top:20px;
        margin-left: auto;
        margin-right: auto;
        display:block;
        height:390px;
    }

    .video-player-top{
        display: none;
    }

    .video-player-bottom{
        display: none;
    }

	.video-thumb{
		clear:left;
	}

    .video-info{
        margin-left:30px;
    }

    .right-panel{
        margin-left: 740px;
    }
	
	.video-buttons-container{float:right;}

    .video-thumbnail-btn{
        display:none;
    }

    .video-description{
        position: absolute;
        margin-left:140px;
    }


    .video-saved{
        position: absolute;
        margin-left: 140px;
        margin-top:90px;
    }
    </style>
{% endblock style_refs%}

{% block script_refs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/homeviewcontroller.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/uiuniversal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/VideoController.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kikinvideo/WatchlrPlayerInterface.js"></script>
    <script type="text/javascript">
    activeView = VIEWS.detail;
    $(window).load(function(){
        home.bindVideoPanelEvents();
        videoController.prepareEmbeds();
        videoController.setCurVid({{ video.id }});
        trackAction('view', {{ video.id }});
    });
    </script>
{% endblock script_refs %}

{% block content %}
    {% if not user.is_authenticated %}
    <div id="user-info-container" class="rounded-corners-5">
        <div class="user-info gradient"></div>
        <div class="inner">
            Watchlr helps you <span class="blue">discover</span>, <span class="blue">save</span> and
            <span class="blue">share</span> video online.<br>
            Sign up using your existing Facebook account!<br>
            <a class="fb-signup" href="/login/facebook?campaign=detail"></a>
        </div>
    </div>
    {% endif %}
    <div id="video-section">
        <div id="videoListWrapper">
            <div id="videoList">
                {% video_queue_item %}
            </div>
            <div id="video-player-container">
                {% if request|user_agent_os == "ios" %}
                    <div class="video-player" id="video-player">
                        <div class="video-embed-wrapper html5" id="video-embed-wrapper" style="width:100%; height: 100%">
                            {{ video.html5_embed_code|safe }}
                        </div>
                    </div>
                {% else %}
                    {% video_player_html5 %}
                {% endif %}
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(function() { WatchlrPlayerInterface.play({{ video.id }}); });
</script>

{% endblock %}

{% block body_end %}
    {% include "includes/analytics.html" %}
{% endblock body_end %}