a {
	color: #2AACE1;
	text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

#facebook-connect-window .watclr-logo {
    background:url('http://local.watchlr.com/watchlr/img/watchlr.png') no-repeat scroll 0px 0px transparent;
    width: 90px;
    height: 50px;
    position: absolute;
    margin: 5px;
    left : 0px;
    top: 0px;
    display: block;
}

#facebook-connect-window .closeButton {
    background:url('http://local.watchlr.com/watchlr/img/close.png') no-repeat scroll 0px 0px transparent;
    width: 18px;
    height: 19px;
    display: block;
    margin-top: 10px;
    float: right;
}

#facebook-connect-window .watchlr-fb-connect {
    background:url('http://local.watchlr.com/watchlr/img/fb_wtch_button.png') no-repeat scroll 0px 0px transparent;
    width: 171px;
    height: 67px;
    position: absolute;
    display: block;
    margin: 5px;
    left: 90px;
    top: 40px;
}

#facebook-connect-window .details {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 120px;
    width : 345px;
    height: 60px;
    padding: 0px 0px 5px 5px;
}

#facebook-connect-window .details .fb-sign-in-msg {
    left: 175px;
    font-size: 13px;
    position: absolute;
}

#facebook-connect-window .details #facebook-sign-in {
    left: 50px;
    font-size: 13px;
    position: absolute;
}

#facebook-connect-window .details .watch-later-msg {
    text-align: left;
    font-size: 13px;
}