a {
	color: #2AACE1;
	text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

#video-saved-window {
	font-size: 13px;
}

#video-saved-window .header {
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#video-saved-window .watchlr-logo {
    background:url('http://local.watchlr.com/watchlr/img/watchlr.png') no-repeat scroll 0px 0px transparent;
    width: 90px;
    height: 31px;
    margin: 5px;
    display: block;
}

#video-saved-window .close-button {
    background:url('http://local.watchlr.com/watchlr/img/close.png') no-repeat scroll 0px 0px transparent;
    width: 18px;
    height: 19px;
    display: block;
    margin-top: 10px;
}

#video-saved-window .message {
    overflow: hidden;
    padding: 5px;
}

#video-saved-window .video-saved {
    width: 100%;
    height: 65px;
    position: absolute;
    left: 0px;
    top: 45px;
}

#video-saved-window .video-saved-button {
    background:url('http://local.watchlr.com/watchlr/img/video_saved.png') no-repeat scroll 0px 0px transparent;
    width: 45px;
    height: 60px;
    display: block;
    margin: 5px 5px 5px 50px;
}

#video-saved-window .video-saved-message {
    width : 225px;
    height: 50px;
    text-align: left;
    color: #50CCFF;
    font-size: 20px;
}

#video-saved-window .message-separator {
    border-bottom: 1px solid #DDDDDD;
    margin: 10px 20px;
    position: absolute;
    left: 0px;
    top: 105px;
    width: 315px;
}

#video-saved-window .watch-later-message {
    height: 40px;
    text-align: left;
    font-size: 13px;
    position: absolute;
    left: 0px;
    top: 123px;
}

#video-saved-window .footer {
    left: 0px;
    top: 180px;
    width : 100%;
    height: 30px;
    position: absolute;
}

#video-saved-window .footer-left {
    margin-top: 5px;
}

#show-message {
    position:relative;
    top:-5px;
    margin-left:3px;
    margin-right: 2px;
}

#video-saved-window .show-message-label {
    position:relative;
    top:-5px;
}

#video-saved-window .left {
    float: left;
}

#video-saved-window .right {
    float: right;
}

#video-saved-window .ok-button {
    background:url('http://local.watchlr.com/watchlr/img/okay_button.png') no-repeat scroll 0px 0px transparent;
    width: 47px;
    height: 21px;
    display: block;
    margin: 0 5px 0 0;
}
