a {
	cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

#watchlr-video-border {
    outline: none;
    display: none;
}

#watchlr-video-border .video-border {
    position : absolute;
    background-color: #AAEB6E;
    z-index: 1000000
}

#watchlr-video-border .video-top-border {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
}

#watchlr-video-border .video-bottom-border {
    border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
}

#watchlr-video-border .video-options-button {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    padding: 0px 11px 0px 12px;
    text-align: center;
    width: 375px;
    height: 40px;
}

#watchlr-video-border .watchlr-text {
    font-family: 'PT Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    display: inline;
    color: #ffffff;
    margin: 0px 5px;
    position: relative;
    top: 3px;
}

#watchlr-video-border .watchlr-image {
    vertical-align: text-bottom;
    display: inline-block;
    position: relative;
    top: 4px;
}

#watchlr-video-border .watchlr-logo-image {
    background-image : url('http://local.watchlr.com/watchlr/img/logo_normal.png');
    height: 23px;
    width: 75px;
}

#watchlr-video-border .watchlr-logo-hover-image {
    background-image : url('http://local.watchlr.com/watchlr/img/logo_hover.png');
    height: 23px;
    width: 75px;
}

#watchlr-video-border .unlike-button-image {
    background-image : url('http://local.watchlr.com/watchlr/img/heart_normal.png');
    height: 21px;
    width: 24px;
}

#watchlr-video-border .unlike-button-hover-image {
    background-image : url('http://local.watchlr.com/watchlr/img/heart_hover1.png');
    height: 21px;
    width: 23px;
}

#watchlr-video-border .like-button-image {
    background-image : url('http://local.watchlr.com/watchlr/img/heart_normal2.png');
    height: 21px;
    width: 24px;
}

#watchlr-video-border .like-button-hover-image {
    background-image : url('http://local.watchlr.com/watchlr/img/heart_broken_hover.png');
    height: 21px;
    width: 24px;
}

#watchlr-video-border .watch-later-button-image {
    background-image : url('http://local.watchlr.com/watchlr/img/plus_normal.png');
    height: 21px;
    width: 21px;
}

#watchlr-video-border .watch-later-button-hover-image {
    background-image : url('http://local.watchlr.com/watchlr/img/plus_hover.png');
    height: 21px;
    width: 21px;
}

#watchlr-video-border .saved-button-image {
    background-image : url('http://local.watchlr.com/watchlr/img/check_hover.png');
    height: 21px;
    width: 24px;
}

#watchlr-video-border .saved-button-hover-image {
    background-image : url('http://local.watchlr.com/watchlr/img/check_click.png');
    height: 21px;
    width: 24px;
}

#watchlr-video-border .spinner-image {
    background-image : url('http://local.watchlr.com/watchlr/img/ajax-loader.gif');
    height: 16px;
    width: 16px;
}

#watchlr-video-border .slash {
    background-image : url('http://local.watchlr.com/watchlr/img/slash.png');
    height: 41px;
    width: 26px;
    vertical-align: middle;
    display: inline-block;
}

#like-btn-text {
    width: 100px;
}

#watch-later-btn-text {
    width: 100px;
}




