{% extends "base.html" %}

{% block script_refs %}
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/raphael.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/kikin_user_home.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/kikin_video_panel.js"></script>
{% endblock script_refs %}

{% block content %}

   <div id="video-section">
        <ul class="navigation">
            <li class="tabQueue selected">
                <a href="#!/home">Queue</a>
            </li>
            <li class="tabLikes">
                <a href="#!/likes">Likes</a>
            </li>
        </ul>
        <br class="clear">
        <div style="border-top: 1px solid rgb(204, 204, 204);"></div>
        <br class="clear">
        <div class="videoList">
            {% block videolist %}
            {% endblock videolist %}
        </div>
   </div>
{% endblock content %}