{% extends "base.html" %}
{% block content %}
   <div id="video-section">
        <ul class="navigation">
            <li class="tabQueue">
                <a href="#!/home">Queue</a>
            </li>
            <li class="tabLikes">
                <a href="#!/likes">Likes</a>
            </li>
        </ul>
        <br class="clear">
        <div style="border-top: 1px solid rgb(204, 204, 204);"></div>
        <br class="clear">
        <div class="videoList">
            
        </div>
   </div>
{% endblock content %}