{% extends "user_home.html" %}
{% block style_refs %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/download.css?v=1" media="all"/>
{% endblock style_refs %}

{% block script_refs %}
    <script type="text/javascript">
    $(document).ready(function(){
         Cufon.replace('h3', {
             fontFamily: 'vag',
             forceHitArea: true,
             hover: true
         });
    });
    </script>
{% endblock script_refs %}


{% block content %}
    <div style="padding-left:115px; padding-top:20px; padding-bottom:20px; width:842px;">
        <h3 class="video-title" style="font-size: 34px; color: #0c536f;">Save Videos to Watch Later from Any Page</h3>
    </div>
    <img title="Save videos for later" src="{{ STATIC_URL }}images/download/main.png" />
    <div style="color:white; font-size: 24px; font-weight: bold; padding-top: 55px; padding-left: 40px; padding-bottom: 15px;">
        Download the Watchlr Browser App Today!
    </div>
    <script type="text/javascript">
        var v = new Date().getTime();
        if ((navigator.userAgent.indexOf("Firefox")) > 0 && (navigator.appVersion.indexOf("Windows") > 0 ))
        {
            document.write('<a href="http://www.kikin.com/download/kikinvideo2/KikinInstallerWin.xpi?v=' + v + '"><div title="Watchlr for Firefox Windows" class="firefox_win" style="position: relative; left:346px;" /></div></a>');
        }
        else if (navigator.userAgent.indexOf("Firefox") > 0 && (navigator.appVersion.indexOf("Mac") > 0 ))
        {
            document.write('<a href="http://www.kikin.com/download/kikinvideo2/KikinInstallerMacFirefox.xpi?v=' + v + '"><div title="Watchlr for Firefox Mac" class="firefox_mac" style="position: relative; left:346px;" /></div></a>');
        }
        else if (navigator.userAgent.indexOf("Chrome") > 0)
        {
            document.write('<a href="http://dev.watchlr.com/static/downloads/watchlr_installer_1.0.0.crx?v=' + v + '"><div title="Watchlr for Chrome" class="chrome_win" style="position: relative; left:346px;" /></div></a>');
        }
        else
        {
            document.write('<div style="color:white; font-size:18px; padding-left:30px;">Your browser is not supported (Currently we supporte Chrome, Firefox on Mac and Windows)</div>');
        }
    </script>

    <div style="margin-top:30px; padding-left:14px;">
        <div class="featureTxt">
            <h4>
                Save Any Video For Later
            </h4>
            <p>Place your mouse on any video, on any webpage and Watchlr will add a "Watch Later" button.</p>
            <img class="featureImage" alt="Learn how to use kikin Video" src="{{ STATIC_URL }}images/education/empty_save_queue.png" style="padding-top:5px; padding-left: 0px;"/>
        </div>
    </div>
{% endblock content %}